In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/국토안전관리원_건설안전사고 발생현황_재해자특성_20230412.csv',encoding = 'cp949')

In [ ]:
df.head()

,사고신고사유,사고일시,공정율,날씨,지역,공사종류,공사비,공종소분류,사망자,내국인사망자,...,내국인부상자,외국인부상자,남성부상자,여성부상자,10이상20미만 부상자,20이상30미만 부상자,30이상40미만 부상자,40이상50미만 부상자,50이상60미만 부상자,60이상부상자
0,3일이상 휴업이 필요한 부상,2019-07-01 07:10:00,20~29%,맑음,경기도,건축/건축물/업무시설,10억 ~ 20억원 미만,기타,0,0,...,1,0,1,0,0,0,0,0,1,0
1,기타,2019-07-01 08:50:00,80~89%,강우,경기도,건축/건축물/공동주택,150억 ~ 200억원 미만,가설공사,0,0,...,0,1,1,0,0,0,1,0,0,0
2,3일이상 휴업이 필요한 부상,2019-07-01 09:30:00,60~69%,맑음,경기도,토목/옹벽 및 절토사면/옹벽,"1,000억원 이상",가설공사,0,0,...,1,0,1,0,0,0,0,0,1,0
3,3일이상 휴업이 필요한 부상,2019-07-01 10:00:00,90% 이상,맑음,인천광역시,토목/터널/철도터널,"500억 ~ 1,000억원 미만",가설공사,0,0,...,1,0,1,0,0,0,0,0,0,1
4,3일이상 휴업이 필요한 부상,2019-07-01 10:10:00,50~59%,맑음,경기도,건축/건축물/공동주택,"500억 ~ 1,000억원 미만",전기설비공사,0,0,...,1,0,1,0,0,0,0,0,1,0

In [ ]:
df['사고신고사유'].nunique()

13

In [ ]:
df.shape[0]

17682

In [ ]:
df.columns

Index(['사고신고사유', '사고일시', '공정율', '날씨', '지역', '공사종류', '공사비', '공종소분류', '사망자',
       '내국인사망자', '외국인사망자', '남성사망자', '여성사망자', '10이상20미만 사망자', '20이상30미만 사망자',
       '30이상40미만 사망자', '40이상50미만 사망자', '50이상60미만 사망자', '60이상사망자', '부상자',
       '내국인부상자', '외국인부상자', '남성부상자', '여성부상자', '10이상20미만 부상자', '20이상30미만 부상자',
       '30이상40미만 부상자', '40이상50미만 부상자', '50이상60미만 부상자', '60이상부상자'],
      dtype='object')

In [ ]:
df['사고신고사유'].value_counts()

3일이상 휴업이 필요한 부상                                   15572
사망 1명 이상                                            775
3일이상 휴업이 필요한 부상, 기타                                 731
기타                                                  353
1000만원 이상의 재산피해                                      87
1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상                     56
사망 1명 이상, 3일이상 휴업이 필요한 부상                            39
사망 1명 이상, 1000만원 이상의 재산피해                            23
1000만원 이상의 재산피해, 기타                                  16
사망 1명 이상, 1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상           14
사망 1명 이상, 기타                                         11
1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상, 기타                  4
사망 1명 이상, 1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상, 기타        1
Name: 사고신고사유, dtype: int64

전체 3일 이상 휴업이 필요한 부상 15000건 정도
사망자 사고는 800건
즉 사망자를 이상치로 해서 분류하기

In [ ]:
df.columns

Index(['사고신고사유', '사고일시', '공정율', '날씨', '지역', '공사종류', '공사비', '공종소분류', '사망자',
       '내국인사망자', '외국인사망자', '남성사망자', '여성사망자', '10이상20미만 사망자', '20이상30미만 사망자',
       '30이상40미만 사망자', '40이상50미만 사망자', '50이상60미만 사망자', '60이상사망자', '부상자',
       '내국인부상자', '외국인부상자', '남성부상자', '여성부상자', '10이상20미만 부상자', '20이상30미만 부상자',
       '30이상40미만 부상자', '40이상50미만 부상자', '50이상60미만 부상자', '60이상부상자'],
      dtype='object')

In [ ]:
df['내국인사망자'].value_counts()

0     16925
1       737
2        14
3         3
35        1
9         1
6         1
Name: 내국인사망자, dtype: int64

In [ ]:
df['외국인사망자'].value_counts()

0    17570
1      108
3        4
Name: 외국인사망자, dtype: int64

# 피해자 칼럼 필요
- 피해자가 내국인 / 외국인
- 피해자의 나이
- 피해자의 성별

# 전처리
- 사고 일시를 월 요일 시간으로 다 나눌까??
- 피해자의 특성만 추출하기
- 시설은 복잡해서 삭제해야 할듯?

In [ ]:
# 사고신고 사유를 사망과 3일정도의 부상으로 나누자

df['사고신고사유'].value_counts()

3일이상 휴업이 필요한 부상                                   15572
사망 1명 이상                                            775
3일이상 휴업이 필요한 부상, 기타                                 731
기타                                                  353
1000만원 이상의 재산피해                                      87
1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상                     56
사망 1명 이상, 3일이상 휴업이 필요한 부상                            39
사망 1명 이상, 1000만원 이상의 재산피해                            23
1000만원 이상의 재산피해, 기타                                  16
사망 1명 이상, 1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상           14
사망 1명 이상, 기타                                         11
1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상, 기타                  4
사망 1명 이상, 1000만원 이상의 재산피해, 3일이상 휴업이 필요한 부상, 기타        1
Name: 사고신고사유, dtype: int64

In [ ]:
#3일 이상 휴업이 필요한 부상과 사망만 포함시키기

str_q = "(사고신고사유 == '사망 1명 이상') or (사고신고사유 == '3일이상 휴업이 필요한 부상')"
df    = df.query(str_q)
df.reset_index(drop = True,inplace = True)

In [ ]:
#사고 일시 나누기

df.head(3)

,index,사고신고사유,사고일시,공정율,날씨,지역,공사종류,공사비,공종소분류,사망자,...,여성부상자,10이상20미만 부상자,20이상30미만 부상자,30이상40미만 부상자,40이상50미만 부상자,50이상60미만 부상자,60이상부상자,사고년도,사고월,사고시간
0,0,3일이상 휴업이 필요한 부상,2019-07-01 07:10:00,20~29%,맑음,경기도,건축/건축물/업무시설,10억 ~ 20억원 미만,기타,0,...,0,0,0,0,0,1,0,2019,07,07
1,2,3일이상 휴업이 필요한 부상,2019-07-01 09:30:00,60~69%,맑음,경기도,토목/옹벽 및 절토사면/옹벽,"1,000억원 이상",가설공사,0,...,0,0,0,0,0,1,0,2019,07,09
2,3,3일이상 휴업이 필요한 부상,2019-07-01 10:00:00,90% 이상,맑음,인천광역시,토목/터널/철도터널,"500억 ~ 1,000억원 미만",가설공사,0,...,0,0,0,0,0,0,1,2019,07,10

In [ ]:
import re

date=df['사고일시']
year  = list(map(lambda x : x.split('-')[0],date.tolist()))
month = list(map(lambda x : x.split('-')[1],date.tolist()))
time  = list(map(lambda x : x[11:13],date.tolist()))

In [ ]:
len(time) == len(month)

True

In [ ]:
df['사고년도'] = year
df['사고월']   = month
df['사고시간'] = time

df.drop(columns = '사고일시', inplace = True)

In [ ]:
df['공정율'].unique()

array(['20~29%', '60~69%', '90% 이상', '50~59%', '30~39%', '10% 미만',
       '10~19%', '70~79%', '80~89%', '40~49%'], dtype=object)

In [ ]:
df.head()

,index,사고신고사유,공정율,날씨,지역,공사종류,공사비,공종소분류,사망자,내국인사망자,...,여성부상자,10이상20미만 부상자,20이상30미만 부상자,30이상40미만 부상자,40이상50미만 부상자,50이상60미만 부상자,60이상부상자,사고년도,사고월,사고시간
0,0,3일이상 휴업이 필요한 부상,20~29%,맑음,경기도,건축/건축물/업무시설,10억 ~ 20억원 미만,기타,0,0,...,0,0,0,0,0,1,0,2019,07,07
1,2,3일이상 휴업이 필요한 부상,60~69%,맑음,경기도,토목/옹벽 및 절토사면/옹벽,"1,000억원 이상",가설공사,0,0,...,0,0,0,0,0,1,0,2019,07,09
2,3,3일이상 휴업이 필요한 부상,90% 이상,맑음,인천광역시,토목/터널/철도터널,"500억 ~ 1,000억원 미만",가설공사,0,0,...,0,0,0,0,0,0,1,2019,07,10
3,4,3일이상 휴업이 필요한 부상,50~59%,맑음,경기도,건축/건축물/공동주택,"500억 ~ 1,000억원 미만",전기설비공사,0,0,...,0,0,0,0,0,1,0,2019,07,10
4,5,3일이상 휴업이 필요한 부상,20~29%,흐림,경기도,건축/건축물/공동주택,"1,000억원 이상",기타,0,0,...,0,0,0,0,0,0,1,2019,07,10

In [ ]:
#어짜피 건설업 부류이고 공사 소분류가 있으니 공사종류의 경우는 건물의 차이이니 중요한 특성은 아님
#카디널리티도 높다보니 이 칼럼은 지우자

df['공사종류'].value_counts()
df.drop(columns = '공사종류',inplace= True)

In [ ]:
#공사비도 분류불능은 지우자 131
df['공사비'].value_counts()
id1=df.query('공사비 == "분류불능"').index
df.drop(index = id1,inplace = True)
df.reset_index(drop=True,inplace = True)

In [ ]:
#미입력은 지우자
df['공종소분류'].value_counts()
id2=df.query('공종소분류 == "미입력"').index
df.drop(index = id2,inplace = True)
df.reset_index(drop=True,inplace = True)

In [ ]:
# 인구통계학적 특성
# 사고데이터에서 성별/ 나이/ 내국인 이정도 특성을 뽑아보자

df.columns

Index(['index', '사고신고사유', '공정율', '날씨', '지역', '공사비', '공종소분류', '사망자', '내국인사망자',
       '외국인사망자', '남성사망자', '여성사망자', '10이상20미만 사망자', '20이상30미만 사망자',
       '30이상40미만 사망자', '40이상50미만 사망자', '50이상60미만 사망자', '60이상사망자', '부상자',
       '내국인부상자', '외국인부상자', '남성부상자', '여성부상자', '10이상20미만 부상자', '20이상30미만 부상자',
       '30이상40미만 부상자', '40이상50미만 부상자', '50이상60미만 부상자', '60이상부상자', '사고년도',
       '사고월', '사고시간'],
      dtype='object')

In [ ]:
# 사망자 2명이상은 인구통계적 특성을 뽑기 어려우니 지움

df['사망자'].value_counts()
df.drop(index = df.query('(사망자 == 2) or (사망자 == 3)').index,inplace = True)
df.reset_index(drop=True,inplace = True)

In [ ]:
# 부상자 2명이상은 인구통계적 특성을 뽑기 어려우니 지움


df['부상자'].value_counts()
df.drop(index = df.query('(부상자 == 2) or (부상자 == 3) or (부상자 == 4) or (부상자 == 5)').index,inplace = True)
df.reset_index(drop=True,inplace = True)

In [ ]:
# 여성과 남상 부상자도 삭제하기

df['남성부상자'].value_counts()
df.drop(index = df.query('(남성부상자 == 2) or (남성부상자 == 3) or (남성부상자 == 4) or (남성부상자 == 14) or (남성부상자 == 7)').index,inplace = True)
df.reset_index(drop=True,inplace = True)

In [ ]:
df['남성부상자'].value_counts()

1    14877
0     1224
Name: 남성부상자, dtype: int64

In [ ]:
df['여성부상자'].value_counts()
df.drop(index = df.query('여성부상자 == 2').index,inplace = True)
df.reset_index(drop=True,inplace = True)

In [ ]:
df['여성부상자'].value_counts()

0    15655
1      445
Name: 여성부상자, dtype: int64

In [ ]:
#반복문으로 돌면서 인구통계학적 특성을 뽑기
#먼저 성별
s_li = []


for i in range(df.shape[0]):
  try:
    temp = df.iloc[i]
    #성별 추출
    if temp['남성부상자'] == 1:
      s_li.append(1)
    elif temp['남성사망자'] == 1:
      s_li.append(1)
    else:
      s_li.append(0)
  except:
    print(f"{i}번째에서 오류발생")

In [ ]:
#내국인/외국인
f_li = []

for i in range(df.shape[0]):
  try:
    temp = df.iloc[i]
    #성별 추출
    if temp['내국인부상자'] == 1:
      f_li.append(1)
    elif temp['내국인사망자'] == 1:
      f_li.append(1)
    else:
      f_li.append(0)
  except:
    print(f"{i}번째에서 오류발생")

In [ ]:
#나이
a_li = []
for i in range(df.shape[0]):
  try:
    temp = df.iloc[i]
    if temp['10이상20미만 사망자'] == 1 or temp['10이상20미만 부상자'] == 1:
      a_li.append(10)
    elif temp['20이상30미만 사망자'] == 1 or temp['20이상30미만 부상자'] == 1:
      a_li.append(20)
    elif temp['30이상40미만 사망자'] == 1 or temp['30이상40미만 부상자'] == 1:
      a_li.append(30)
    elif temp['40이상50미만 사망자'] == 1 or temp['40이상50미만 부상자'] == 1:
      a_li.append(40)
    elif temp['50이상60미만 사망자'] == 1 or temp['50이상60미만 부상자'] == 1:
      a_li.append(50)
    else:
      a_li.append(60)
  except:
    print(f"{i}번째 오류발생")

In [ ]:
len(a_li) == len(s_li) == len(f_li)

True

In [ ]:
df['성별'] = s_li
df['국적'] = f_li
df['나이'] = a_li

In [ ]:
df.head()

,index,사고신고사유,공정율,날씨,지역,공사비,공종소분류,사망자,내국인사망자,외국인사망자,...,30이상40미만 부상자,40이상50미만 부상자,50이상60미만 부상자,60이상부상자,사고년도,사고월,사고시간,성별,국적,나이
0,0,3일이상 휴업이 필요한 부상,20~29%,맑음,경기도,10억 ~ 20억원 미만,기타,0,0,0,...,0,0,1,0,2019,07,07,1,1,50
1,2,3일이상 휴업이 필요한 부상,60~69%,맑음,경기도,"1,000억원 이상",가설공사,0,0,0,...,0,0,1,0,2019,07,09,1,1,50
2,3,3일이상 휴업이 필요한 부상,90% 이상,맑음,인천광역시,"500억 ~ 1,000억원 미만",가설공사,0,0,0,...,0,0,0,1,2019,07,10,1,1,60
3,4,3일이상 휴업이 필요한 부상,50~59%,맑음,경기도,"500억 ~ 1,000억원 미만",전기설비공사,0,0,0,...,0,0,1,0,2019,07,10,1,1,50
4,5,3일이상 휴업이 필요한 부상,20~29%,흐림,경기도,"1,000억원 이상",기타,0,0,0,...,0,0,0,1,2019,07,10,1,1,60

# 모델링
- x와 y 나누기
- 데이터 분할

In [ ]:
df.columns

Index(['index', '사고신고사유', '공정율', '날씨', '지역', '공사비', '공종소분류', '사망자', '내국인사망자',
       '외국인사망자', '남성사망자', '여성사망자', '10이상20미만 사망자', '20이상30미만 사망자',
       '30이상40미만 사망자', '40이상50미만 사망자', '50이상60미만 사망자', '60이상사망자', '부상자',
       '내국인부상자', '외국인부상자', '남성부상자', '여성부상자', '10이상20미만 부상자', '20이상30미만 부상자',
       '30이상40미만 부상자', '40이상50미만 부상자', '50이상60미만 부상자', '60이상부상자', '사고년도',
       '사고월', '사고시간', '성별', '국적', '나이'],
      dtype='object')

In [ ]:
X = df[['공정율','날씨','지역','공사비','공종소분류','사고년도','사고월','사고시간','성별','국적','나이']]
y = df['사고신고사유']

In [ ]:
X.head()

      공정율  날씨     지역                공사비   공종소분류  사고년도 사고월 사고시간  성별  국적  나이
0  20~29%  맑음    경기도      10억 ~ 20억원 미만      기타  2019  07   07   1   1  50
1  60~69%  맑음    경기도         1,000억원 이상    가설공사  2019  07   09   1   1  50
2  90% 이상  맑음  인천광역시  500억 ~ 1,000억원 미만    가설공사  2019  07   10   1   1  60
3  50~59%  맑음    경기도  500억 ~ 1,000억원 미만  전기설비공사  2019  07   10   1   1  50
4  20~29%  흐림    경기도         1,000억원 이상      기타  2019  07   10   1   1  60

In [ ]:
X_hot=pd.get_dummies(X)
X_hot

,성별,국적,나이,공정율_10% 미만,공정율_10~19%,공정율_20~29%,공정율_30~39%,공정율_40~49%,공정율_50~59%,공정율_60~69%,...,사고시간_14,사고시간_15,사고시간_16,사고시간_17,사고시간_18,사고시간_19,사고시간_20,사고시간_21,사고시간_22,사고시간_23
0,1,1,50,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,50,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,60,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,50,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,60,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16095,1,1,40,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16096,1,0,20,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16097,1,1,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16098,1,1,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16099,1,1,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_hot,y,test_size=0.2,random_state=46)

In [ ]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.tree import plot_tree

clf = DecisionTreeClassifier(
            # criterion='entropy', ## 'gini', 'log_loss'
            # splitter='best', ## 'random'
            max_depth=3, ## '최대 깊이'
            # min_samples_leaf=5, ## 최소 끝마디 샘플 수
            # random_state=100
        ).fit(x_train,y_train)
pred_clf = clf.predict(x_test)
result_clf = accuracy_score(pred_clf,y_test)
result_clf

0.9537267080745342

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

rf = RandomForestClassifier()
rf.fit(x_train,y_train)
pred_rf = rf.predict(x_test)
result_rf = accuracy_score(pred_rf,y_test)
result_rf

0.9540372670807453

In [ ]:
save = df[['공정율','날씨','지역','공사비','공종소분류','사고년도','사고월','사고시간','성별','국적','나이','사고신고사유']]

In [ ]:
save.to_csv('사망자_예측.csv',index = False,encoding="utf-8-sig")